@import 'tailwindcss';

@theme {
  /* color */
  --color-white: #ffffff;
  --color-gray0: #fcfcfc;
  --color-gray1: #e3e3e3;
  --color-gray2: #c9c9c9;
  --color-gray3: #b0b0b0;
  --color-gray4: #969696;
  --color-gray5: #7d7d7d;
  --color-gray6: #636363;
  --color-gray7: #4a4a4a;
  --color-gray8: #303030;
  --color-gray9: #171717;
  --color-black: #000000;
  --color-blue2: #5f9aff;

  /* breakpoint */
  --breakpoint-ph: 360px;
  --breakpoint-dt: 1220px;
}

/* font */
@layer utilities {
  @media (max-width: 1219px) {
    /* ph 한글 폰트 */
    .ph\:heading1 {
      font-size: 65px !important;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-weight: 600;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:subhead1 {
      font-size: 16px !important;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:subhead2 {
      font-size: 16px !important;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:subhead3 {
      font-size: 14px !important;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:subhead4 {
      font-size: 13px !important;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:subhead5 {
      font-size: 12px !important;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:subhead6 {
      font-size: 12px !important;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:body1 {
      font-size: 16px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:body2 {
      font-size: 14px !important;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:body3 {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:caption1 {
      font-size: 9px !important;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .ph\:caption2 {
      font-size: 8px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }

    /* ph 영문 폰트 */
    .ph\:heading1-eng {
      font-size: 46px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
    .ph\:subhead1-eng {
      font-size: 14px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
    .ph\:subhead2-eng {
      font-size: 13px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
    .ph\:subhead3-eng {
      font-size: 12px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
  }

  @media (min-width: 1220px) {
    /* dt 한글 폰트 */
    .dt\:heading1 {
      font-size: 140px !important;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-weight: 600;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:subhead1 {
      font-size: 24px !important;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:subhead2 {
      font-size: 24px !important;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:subhead3 {
      font-size: 20px !important;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:body1 {
      font-size: 24px !important;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:body2 {
      font-size: 20px !important;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:body3 {
      font-size: 18px !important;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }
    .dt\:caption1 {
      font-size: 14px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Pretendard', sans-serif;
    }

    /* dt 영문 폰트 */
    .dt\:heading1-eng {
      font-size: 160px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
    .dt\:subhead1-eng {
      font-size: 24px !important;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
    .dt\:body1-eng {
      font-size: 24px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
    .dt\:caption1-eng {
      font-size: 13px !important;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.8%;
      font-family: 'Gmarket Sans', sans-serif;
    }
  }
}
